@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #1e293b;
}

::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #475569 #1e293b;
}
