@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: auto;
  scrollbar-color: transparent transparent;
  transition: scrollbar-color 0.3s ease;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 6px;
  transition: background 0.3s ease;
}

*.scrolling::-webkit-scrollbar-thumb {
  background: #475569;
}

*.scrolling::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}

*.scrolling {
  scrollbar-color: #475569 #1e293b;
}
